        <header>recipe.place</header>

        <main role="main">
            <p><a href="recipe/chicken/whole/roast">Roast Chicken</a></p>
            <p><a href="recipe/beef/ground/chilli">Chilli con Carne III</a></p>
        </main>

        <footer>(C) recipe.place</footer>