        <header>recipe.place</header>

        <main role="main">
            <article vocab="http://schema.org/" typeof="Recipe">
                <h1 property="name">Simple Roast Chicken</h1>

                <section>
                    <h2>Details</h2>
                    <meta property="datePublished" content="2014-12-12">December 12th, 2014
                    Age range: <span property="typicalAgeRange">8-</span>
                    Yield: <span property="recipeYield">4 servings</span>
                    Category: <span property="recipeCategory">Main</span>
                    Cuisine: <span property="recipeCuisine">Italian</span>

                    <p>Description: <span property="description">Very basic roast chicken.</span></p>

                    <img property="image" src="http://images.media-allrecipes.com/userphotos/250x250/01/47/30/1473026.jpg">
                    <section>
                        <h3>Cooking/Preparation Time</h3>
                        Prep time: <meta property="prepTime" content="PT10M">10 minutes
                        Cook time: <meta property="cookTime" content="PT1H">1 hour
                        Ready in: <meta property="totalTime" content="PT1H25M">1 hour 25 minutes
                        Cooking method: <meta property="cookMethod" content="Roast">Roast
                    </section>
                </section>

                <section>
                    <h2>Ingredients</h2>
                    <ul>
                        <li property="ingredients">1 whole chicken, rinsed</li>
                        <li property="ingredients">1 lemon, halved</li>
                        <li property="ingredients">kosher salt</li>
                    </ul>
                </section>

                <section>
                    <h2>Instructions</h2>
                    <ol property="recipeInstructions">
                        <li>Preheat an oven to 450 degrees F (230 degrees C).</li>
                        <li>Place chicken into a roasting pan and insert lemon halves into the cavity; spread kosher salt over outside of chicken.</li>
                        <li>Roast in the preheated oven until skin is browned and crisp, the juices run clear, and an instant-read meat thermometer inserted into the thickest part of a thigh, not touching bone, reads 160 degrees F (70 degrees C), about 1 hour. Let chicken rest for 15 minutes before carving.</li>
                    </ol>
                </section>
            </article>
        </main>

        <footer>(C) recipe.place</footer>